.card {
    width: 100%;
    max-width: 300px;
}

@media (max-width: 575px) {
    .card p {
        margin: 0 0 5px 0;
    }
    .card {
        height: 350px;
    }
}

.word-gap {
    background-color: lightgrey;
}

.add-img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}